Para empezar la limpieza de datos empezaros primero cargando librerias e ir limpiando columna a columna las cosas que no nos cuadren.

In [100]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Queremos limpiar nulls y datos que no concuerdan

In [101]:
df = pd.read_csv("../data/raw/bgg_dataset.csv",sep=";")

In [102]:
df["Complexity Average"] = df["Complexity Average"].str.replace(",",".").astype(float) # Cambiamos las comas por puntos y pasamos a float
df["Rating Average"] = df["Rating Average"].str.replace(",",".").astype(float) # Cambiamos las comas por puntos y pasamos a float
media_valores_año = int(np.mean(df.loc[df["Year Published"] >= 0, "Year Published"])) # Hacemos la media de los años para dar un valor concreto a los años
df.loc[df["Year Published"] < 1, "Year Published"] = media_valores_año # Miramos que todos los años menores de 1 sean
df.loc[df["Year Published"].isna(), "Year Published"] = media_valores_año
df["Year Published"] = df["Year Published"].astype(int) # Pasamos a int todos los años

Quitamos de la fila de Domains los null como no definidos.

In [103]:
df.loc[df["Domains"].isnull(), "Domains"] = "Not Defined" # Definimos como "Not Defined" los valores null del dataset

En Mechanics ponemos los nulls igual que en domains como "Not Defined"

In [104]:
df.loc[df["Mechanics"].isnull(), "Mechanics"] = "Not Defined" # Definimos como "Not Defined" los valores null del dataset

En Owned Users ponemos los nulls igual que en domains como "Not Defined"

In [106]:
media_valores_owned = int(np.mean(df.loc[df["Owned Users"] >= 0, "Owned Users"]))
df.loc[df["Owned Users"].isna(), "Owned Users"] = media_valores_owned # Definimos los valores null como media de owned por juego.

In [110]:
df["Play Time"].unique()

array([  120,    60,   480,   150,   240,   180,   115,    90,    30,
         100,    70,   210,  1000,    80,    20,    45,    15,   135,
          25,   200,    75,    50,   360,    42,    10,   125,    40,
          35,   300,   110,   420,   270,    32,   140,   165,   999,
         720,     2,  3000,   105,  1200,  6000, 12000,   540,     5,
          95,   900,  1440,   600,   250,  1800,  2400,    55,   290,
         500,   960,     0,    13,    72,  2480,  3600,  4500, 22500,
         840,  4200,   750,  5400,   130,     1,  2880,     6,    12,
          97,  1500,   780,  4000,    19,  1740,   160,  7920,  1260,
         660,  1710,  2160, 17280,  4560,   450,  8640,  3900,   320,
         700,   225,    85,  2100,    33, 14400,   108,  1080,  5000,
         400,    23,     8,     3,    17,     4,   280,   222, 60000,
       10000,   810,     7,    36,    39,   340,    38,    68],
      dtype=int64)

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20343 entries, 0 to 20342
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  20327 non-null  float64
 1   Name                20343 non-null  object
 2   Year Published      20343 non-null  int32
 3   Min Players         20343 non-null  int64
 4   Max Players         20343 non-null  int64
 5   Play Time           20343 non-null  int64
 6   Min Age             20343 non-null  int64
 7   Users Rated         20343 non-null  int64
 8   Rating Average      20343 non-null  float64
 9   BGG Rank            20343 non-null  int64
 10  Complexity Average  20343 non-null  float64
 11  Owned Users         20343 non-null  float64
 12  Mechanics           20343 non-null  object
 13  Domains             20343 non-null  object
dtypes: float64(4), int32(1), int64(6), object(3)
memory usage: 2.1+ MB

En ID tendremos que asignar valores que no estén repetidos en las columnas.

In [67]:
df["ID"].dropna(inplace=True)

In [65]:
df["ID"].isnull().value_counts()

False    20327
True        16
Name: ID, dtype: int64